{% extends "base.html" %}
{% block content %}

<a href="/">Go back</a>

<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
 <h5 class="card-title text-center">ADD AIRPLANE</h5>

 {% if error %}
 <p class="alert alert-danger"><strong>Error:</strong> {{error}} </p>
 {% endif %}

 <form method="POST" action="add-airplane" class="form-signin">
     <input class="form-control" type="text" name="airline name" placeholder="Airline Name" required /></br>
     <input class="form-control" type="text" name="airplane id" placeholder="Airplane Id" required /> </br>
     <input class="form-control" type="number" name="seats" placeholder="Seats" required /></br>
     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Create">Add Airplane</button>
 </form>
        </div>
    </div>
</div>

{% endblock %}