{% extends "base.html" %}
{% block content %}

<a href="/">Go back</a>

<h1>agent LIST</h1>

<div class="jumbotron">
        <h5>TOP 5 agent IN PAST MONTH</h5>
        <ol>
     {% for agent in top5month %}
     <li> {{ agent }} </li>
     {% endfor %}
        </ol>

        <h5>TOP 5 agent IN PAST YEAR</h5>
        <ol>
     {% for agent in top5year %}
     <li> {{ agent }} </li>
     {% endfor %}
        </ol>
        <h5>TOP 5 agent BASED ON COMMISSION IN PAST YEAR</h5>
        <ol>
     {% for agent in top5commission %}
     <li> {{ agent }} </li>
     {% endfor %}
        </ol>
</div>

{% for agent in agent_list %}
<div class="jumbotron">
        {% for k,v in agent.items() %}
        <p>{{ k }}: {{ v }}</p>
        {% endfor %}
</div>
{% endfor %}

{% endblock %}