{% extends "base.html" %}
{% block content %}

<a href="/">Go back</a>

<h1>VIEW FLIGHTS</h1>
<div class="jumbotron">
    <h3>Search Status</h3>
    <form method="POST" action="/my-flight" class="form-inline active-purple-4">
        <input class="form-control form-control-sm mr-3 w-75" name="flight_num" type="text" placeholder="Flight Number"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" name="departure_time" type="text"
            placeholder="Departure Time" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" name="arrival_time" type="text" placeholder="Arrival Time"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" name="departure_airport" type="text"
            placeholder="Departure Airport" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" name="arrival_airport" type="text"
            placeholder="Arrival Airport" aria-label="Search">
        <button class="btn"> Search </button>
    </form>
</div>

<div>
    {% for d in data %}
    <form action="/flight/{{ d.flight_num }}" method="GET">
        <button class="jumbotron">
            <h4>{{ d.flight_num }}</h4>
            <h4>{{ d.airline_name }}</h4>
            <h4>{{ d.departure_time }}</h4>
            <h4>{{ d.arrival_time }}</h4>
            <h4>{{ d.departure_airport }}</h4>
            <h4>{{ d.arrival_airport }}</h4>
            <h4>{{ d.price }}</h4>
            <h4>{{ d.status }}</h4>
            <h4>{{ d.airplane_id }}</h4>
        </button>
    </form>
    {% endfor %}
</div>

{% endblock %}