<!DOCTYPE html>
<html>

<head>

</head>

<body>
<form action="/a_searchAuth" method="POST">
    <input type="text" name="departure" placeholder="departure" required/></br>
    <input type="text" name="destination" placeholder="destination" required/></br>
    <input type="text" name="date" placeholder="date" required/></br>
    <input type="submit" value=Search /></br>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>