{% extends "base.html" %}
{% block content %}

<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">AGENT SIGN UP</h5>
            <form method="POST" action="/c_register" class="form-signin">
                <input class="form-control" type="text" name="email" placeholder="Email" required /></br>
                <input class="form-control" type="password" name="password" placeholder="Password" required /></br>
                <input class="form-control" type="text" name="booking agent id" placeholder="booking_agent_id" required /> </br>
                </br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                    value="Register">Register</button>
                {% if error %}
                <p class="error"><strong>Error:</strong> Please make sure all values are valid.</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<a href="/register">Go back</a>

{% endblock %}
