<!DOCTYPE html>
<html>

<head>

</head>

<body>
<form action="/c_buyAuth" method="POST">
   <input type="text" name="airline" placeholder="airline name" required/></br>
	   <input type="text" name="flight_num" placeholder="flight number" required/></br>
	   <input type="number" name="ticket_id" placeholder = "ticket_id" required/></br>
       <input type="submit" value= Purchase /></br>
       {% if error %}
   <p class="error"><strong>Error:</strong> {{error}}</p>
       {% endif %}
       <table border="2"></br>
       <tr>
   <th>airline_name</th>
   <th>flight_num</th>
   <th>departure_airport</th>
   <th>departure_time</th>
   <th>arrival_airport</th>
   <th>arrival_time</th>
   <th>price</th>
   <th>status</th>
   <th>airplane_id</th>
   <th>status</th>
       </tr>
       {% for dic in post %}
       <tr>
   <td>{{dic.airline_name}}</td>
   <td>{{dic.flight_num}}</td>
   <td>{{dic.departure_airport}}</td>
   <td>{{dic.departure_time}}</td>
   <td>{{dic.arrival_airport}}</td>
   <td>{{dic.arrival_time}}</td>
   <td>{{dic.price}}</td>
   <td>{{dic.status}}</td>
   <td>{{dic.airplane_id}}</td>
   <td>{{dic.status}}</td>
       </tr>
       {% endfor %} 
</form>
<a href="/">Go back</a>
</body>
</html>