<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>

<body>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<p><strong>Money spent in the last year</strong></p>
	<table border="1">
	<tr>
		<th>the sum of price</th>
	</tr>
	{% for dic in post %}
	<tr>
		<td>{{dic.sum}}</td>
	</tr>
	{% endfor %}
	</table>
	{{ myechart|safe }}
	<a href="/c_details">For more in depth spending analysis...</a></br>
	<a href="/c_home">Go back</a>
</body>
</html>