{% extends "base.html" %}
{% block content %}

{% if not message %}
<h1>Flight Tracker</h1>

<div class="jumbotron">
    <h3>Search Flight</h3>
    <form method="POST" action="/search-flight" class="form-inline active-purple-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Airport" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Arrival Airport" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Date" aria-label="Search">
        <button class="btn"> Search </button>
    </form>
    <br />
    <h3>Search Status</h3>
    <form method="POST" action="/search-route" class="form-inline active-purple-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Flight Number" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Date" aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Arrival Date" aria-label="Search">
        <button class="btn"> Search </button>
    </form>
</div>

{% endif %}

{% endblock %}Í