{% extends "base.html" %}
{% block content %}

{% if "staff" in session['type'] %}
<div class="btn-group-vertical">
    <button class="btn btn-secondary"><a href="my-flight" style="color: white; text-decoration:none">View My flights</a></button>
    <button class="btn btn-secondary"><a href="new-flight" style="color:white; text-decoration:none">Create new flights</a></button>
    <button class="btn btn-secondary"><a href="add-airplane" style="color:white; text-decoration:none">Add airplane in the system</a></button>
    <button class="btn btn-secondary"><a href="add-airport" style="color:white; text-decoration:none">Add new airport in the system</a></button>
    <button class="btn btn-secondary"><a href="booking-agent" style="color:white; text-decoration:none">View all the booking agents</a></button>
    <button class="btn btn-secondary"><a href="customer" style="color:white; text-decoration:none">View frequent customers</a></button>
    <button class="btn btn-secondary"><a href="report" style="color:white; text-decoration:none">View reports</a></button>
    <button class="btn btn-secondary"><a href="revenue" style="color:white; text-decoration:none">Comparison of Revenue earned</a></button>
    <button class="btn btn-secondary"><a href="top-destination" style="color:white; text-decoration:none">View Top destinations</a></button>
</div>


{% elif "agent" in session['type'] %}
<p>AGENT</p>

{% else %}
<h1>Flight Tracker</h1>

<div class="jumbotron">
    <h3>Search Flight</h3>
    <form method="POST" action="/search-flight" class="form-inline active-purple-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Airport"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Arrival Airport"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Date"
            aria-label="Search">
        <button class="btn"> Search </button>
    </form>
    <br />
    <h3>Search Status</h3>
    <form method="POST" action="/search-route" class="form-inline active-purple-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Flight Number"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Departure Date"
            aria-label="Search">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Arrival Date"
            aria-label="Search">
        <button class="btn"> Search </button>
    </form>
</div>

{% endif %}

{% endblock %}Í