{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">STAFF SIGN UP</h5>
                    <form method="POST" action="staff_register" class="form-signin">
                        <input class="form-control" type="text" name="username" placeholder="Username" required /></br>
                        <input class="form-control" type="password" name="password" placeholder="Password" required /></br>
                        <input class="form-control" type="text" name="first_name" placeholder="First Name" required /></br>
                        <input class="form-control" type="text" name="last_name" placeholder="Last Name" required /> </br>
                        <input class="form-control" type="text" name="dob" placeholder="Date of Birth" required /> </br>
                        <input class="form-control" type="text" name="airline name" placeholder="Airline Name" required /> </br>
                        </br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                            value="Register">Register</button>
                        {% if error %}
                        <p class="error"><strong>Error:</strong> Please make sure all values are valid.</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/register">Go back</a>

{% endblock %}